# prod
dist/

# dev
.hono/
.wrangler/
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/

# env
.env
.env.production
.dev.vars

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store

# ローカル時の読み込みドキュメント
.cursor/docs/mcp-sdk
.cursor/docs/download_cloudflare_agents.sh
.cursor/docs/cloudflare
.cursor/docs/mcp-example.md